extends layout

block content
	div.container
		h1 Mama Maggy Pizza

.row
	.col-md-4.col-sm-6.col-xs-12
		.panel.panel-default
			.panel-heading Panel Heading
				.panel-body We are a fairly small
	.col-md-4.col-sm-6.col-xs-12
		.panel.panel-default
			.panel-heading Panel Heading
				.panel-body We are a fairly small
	.col-md-4.col-sm-6.col-xs-12
		.panel.panel-default
			.panel-heading Panel Heading
				.panel-body We are a fairly small